
[Unit]
Description=systemd.software http redirector service
Documentation=https://github.com/inetknght/systemd.software
BindsTo=network.target
After=network.target

[Service]
#
# {simple,forking}
# default: simple
Type=simple

#
# Don't run web stuff as root
# default: root
User=systemd.software

#
# {no,on-success,on-failure,on-abnormal,on-watchdog,on-abort,always}
# default: no
# on-success: {exit code = 0} or {SIGHUP,SIGINT,SIGTERM,SIGPIPE}
# the others are confusing. You probably want on-failure.
# see `man systemd.service` or `https://systemd.software/service`
Restart=on-failure

#
# What a long line. Tempting to turn this into a bash script. Make sure to initialize the venv which isn't commited to the repo:
# python3 -m venv /srv/systemd.software/venv && /srv/systemd.software/venv/bin/python3 -m pip install -r /srv/systemd.software/requirements.txt
ExecStart=/srv/systemd.software/venv/bin/python3 /srv/systemd.software/www.systemd.software.py --log-file-prefix=/srv/systemd.software/log/systemd.software.log --logging=info --listen-path=/srv/systemd.software/reverse-proxy.socket
#
# Git root
WorkingDirectory=/srv/systemd.software

[Install]
WantedBy=multi-user.target
